<template>
    <b-modal :active="isActive" @close="close">
        <div class="column create-modal">
            <b-field label="Название" :type="city.name ? 'is-success': ''">
                <b-input v-model="city.name"></b-input>
            </b-field>
            <b-field label="Температура" :type="city.temp ? 'is-success': ''">
                <b-input type="number" v-model="city.temp"></b-input>
            </b-field>
            <b-field grouped :type="city.wind ? 'is-success': ''">
                <b-field label="Ветер">
                    <b-input type="number" v-model="city.wind"></b-input>
                </b-field>
                <b-field label="Направление ветра">
                    <b-select placeholder="Выбрать направление" v-model="city.direction">
                        <option
                                v-for="(direction, key) in directions"
                                :value="direction"
                                :key="key">
                            {{ direction }}
                        </option>
                    </b-select>
                </b-field>
            </b-field>
            <b-field label="Давление" :type="city.pressure ? 'is-success': ''">
                <b-input type="number" v-model="city.pressure"></b-input>
            </b-field>
            <div class="column create-modal__controls">
                <a href="#" class="button is-dark" @click.prevent="close">Отмена</a>
                <a href="#" class="button is-success" @click.prevent="accept">Сохранить</a>
            </div>
        </div>
    </b-modal>
</template>

<script>
    export default {
        name: "createCityModal",
        props: ['city', 'isActive'],
        data() {
            return {
                directions: [
                    'SE',
                    'WE',
                    'W',
                    'N'
                ]
            }
        },
        methods: {
            accept() {
                this.$emit('accept')
            },
            close() {
                this.$emit('close');
            }
        }
    }
</script>

<style lang="less" scoped>
    .create-modal {
        background-color: #ffffff;
        border-radius: 4px;
        &__controls {
            display: flex;
            justify-content: center;
            & .button:first-child {
                margin-right: 8px;
            }
        }
    }
</style>