<template>
    <b-modal class="delete-modal" :active="isActive" @close="close">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Удаление строки</p>
            </header>
            <section class="modal-card-body">
                <b-icon
                        icon="exclamation-circle">
                </b-icon>
                <span>Вы действительно хотите <b>удалить</b> город {{city.name}}?</span>
            </section>
            <footer class="modal-card-foot">
                <div class="column delete-modal__controls">
                    <a href="#" class="button" @click="close">Отмена</a>
                    <a href="#" class="button is-danger"
                       @click.prevent="accept">Удалить</a>
                </div>
            </footer>
        </div>
    </b-modal>
</template>

<script>
    export default {
        name: "deleteCityModal",
        props: ['city', 'isActive'],
        methods: {
            accept() {
                this.$emit('accept');
            },
            close() {
                this.$emit('close');
            }
        }
    }
</script>