<template>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column">
                <b-taglist attached>
                    <b-tag type="is-dark">Кол-во городов</b-tag>
                    <b-tag type="is-info">{{countTotal}}</b-tag>
                </b-taglist>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-tabs>
                    <b-tab-item label="Главная">
                        <b-table
                                :data="cities"
                                :selected.sync="selected.city"
                                focusable
                                paginated
                                :per-page="2">

                            <template slot-scope="props">
                                <b-table-column field="city" label="Город" centered>
                                    {{props.row.name}}
                                </b-table-column>
                                <b-table-column field="temp" label="Температура" centered>
                                    {{props.row.temp}}
                                </b-table-column>
                                <b-table-column field="wind" label="Ветер" centered>
                                    {{props.row.wind}}
                                </b-table-column>
                                <b-table-column field="pressure" label="Давление" centered>
                                    {{props.row.pressure}}
                                </b-table-column>
                                <b-table-column centered>
                                    <div class="buttons are-small city-table__row-controls">
                                        <a href="#" class="button is-danger"
                                           @click.prevent="selected.index = props.index, isDeleteCityModalActive = true">
                                            <b-icon
                                                    icon="trash-alt"
                                                    size="is-small">
                                            </b-icon>
                                        </a>
                                    </div>
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon
                                                    icon="frown"
                                                    size="is-large">
                                            </b-icon>
                                        </p>
                                        <p>Нет данных =(</p>
                                    </div>
                                </section>
                            </template>
                        </b-table>
                        <div class="column is-half is-offset-one-quarter">
                            <div class="column city-table__controls">
                                <a href="#" class="button is-success" @click.prevent="isCreateCityModalActive = true">Добавить
                                    город</a>
                            </div>
                        </div>
                    </b-tab-item>
                    <b-tab-item label="Город">
                        <pre class="selected__city">{{selected.city.name ? selected.city: 'Город не выбран'}}</pre>
                    </b-tab-item>
                </b-tabs>
            </div>
        </div>
        <delete-city-modal
                v-if="isDeleteCityModalActive"
                :isActive="isDeleteCityModalActive"
                :city="selected.city"
                @close="isDeleteCityModalActive = false"
                @accept="deleteCity(selected.index), selected.city = {}, isDeleteCityModalActive = false">
        </delete-city-modal>
        <create-city-modal
                v-if="isCreateCityModalActive"
                :city="created.city"
                :isActive="isCreateCityModalActive"
                @close="isCreateCityModalActive = false, created.city = {}"
                @accept="addCity(created.city), isCreateCityModalActive = false">
        </create-city-modal>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import deleteCityModal from '~/components/modals/deleteCityModal';
    import createCityModal from '~/components/modals/createCityModal';

    export default {
        name: "index",
        components: {
            deleteCityModal,
            createCityModal
        },
        data() {
            return {
                isDeleteCityModalActive: false,
                isCreateCityModalActive: false,
                created: {
                    city: {}
                },
                selected: {
                    index: '',
                    city: {}
                }
            }
        },
        computed: {
            ...mapState({
                cities: state => state.cities.cities
            }),
            countTotal() {
                return this.cities.length
            }
        },
        methods: {
            ...mapActions({
                deleteCity: 'cities/deleteCity',
                addCity: 'cities/addCity'
            })
        },
        async fetch({store}) {
            return store.dispatch('cities/getCities')
        }
    }
</script>

<style lang="less" scoped>
    .city-table {
        &__controls {
            display: flex;
            justify-content: center;
            & .button:first-child {
                margin-right: 8px;
            }
        }
        &__row-controls {
            display: flex;
            justify-content: center;
            & .button:first-child {
                margin-right: 8px;
            }
        }
    }

    .selected__city {
        color: #ffffff;
        background-color: #363636;
    }
</style>